<html lang="en">
    
    <head>
        <meta charset="utf-8">
        <title>HillsideSuites</title>
      
        <!-- Bootstrap Scripts -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js" integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK" crossorigin="anonymous"></script>
      
        <!-- CSS Stylesheets -->
        <link rel="stylesheet" href="css/styles.css">

        <!-- Font Awesome -->
        <script src="https://kit.fontawesome.com/9f9f6da6a2.js" crossorigin="anonymous"></script>

        <!-- Google Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap" rel="stylesheet">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Poppins:wght@300;400;700&display=swap" rel="stylesheet">

    </head>

    <body>
        
        <section id="titleMain">
            <div class="container-fluid">
                
              <!-- nav bar -->
              <nav class="navbar navbar-expand-lg navbar-dark">
                <a class="navbar-brand" href="/">
                  <img src="images/HillsideLogoFinal.png" width="130" height="130" class="d-inline-block align-top" alt="logo">
                </a>
            
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler01" aria-controls="navbarToggler01" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarToggler01">
                  <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                      <a class="nav-link" href="amenities">Amenities</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="accommodations">Accommodations</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="about">About</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Account</a>
                      <ul class="dropdown-menu dropdown-menu-end accountBtn"> 
                        <li><a class="dropdown-item" href="signIn">Sign in</a></li>
                        <li><a class="dropdown-item" href="register">Register</a></li>
                        <li><a class="dropdown-item" href="myBookings">My Bookings</a></li>
                        <li><a class="dropdown-item" href="/logout">Logout</a></li>
                      </ul>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link navBtn btn btn-custom btn-sm" href="reserve">Reserve</a>
                    </li>
                  </ul>
                </div>
              </nav>
                
                <!-- Title -->
                <div class="row">
                  <div class="col-lg-5">
                    <h1 class="titleName">Welcome to Hillside Suites</h1>  
                    <a href="reserve" type="button" class="btn btn-outline-light btn-lg bookNow">Book Your Stay</a>
                  </div>
                </div>

            </div>

        </section>

        <!-- Basic pictures of the interior of our hotel -->
        <section id="pictures">
          
          <div class="picSection">

            <div class="spacer"></div>
            <h1 class="titleBHome">Hillside: Where Your Greatest Dreams Come True</h1>
            <div class="spacer"></div>

            <img class="roomsPic1" src="images/yayaq-destination-ptj2xDWxEJU-unsplash.jpg" alt="spa pic">
            
            <div class="row">
              <div class="col-lg-6">
                <img class="roomsPic2" src="images/RECEPTION-LOBBY.jpg" alt="room1 pic">
              </div>
              <div class="col-lg-6">
                <img class="roomsPic2" src="images/dan-gold-4HG3Ca3EzWw-unsplash.jpg" alt="room2 pic">
              </div>
            </div>

            <div class="spacer"></div>
          </div>

        </section>

        <!-- Basic features that we offer in Hillside -->
        <section id="info">
          <div class="container-fluid">
            <div class="row">
              <div class="features col-lg-4">
                <i class="icon fa-solid fa-bed"></i>
                <h3 class="featuresTitle">Beautiful Rooms</h3>
                <p>Treat yourself to staying at our luxury rooms with state of the art furniture, polished designs, and comfortable beds.</p>
              </div>
              <div class="features col-lg-4">
                <i class="icon fa-solid fa-tree"></i>
                <h3 class="featuresTitle">Stunning Views</h3>
                <p>Whether you take a glance from your window or take a step into your spacious balcony, you’ll immerse yourself within nature’s best offerings.</p>
              </div>
              <div class="features col-lg-4">
                <i class="icon fa-solid fa-bell-concierge"></i>
                <h3 class="featuresTitle">Amazing Service</h3>
                <p>Our amazing staff are available 24/7. To get in touch, just give us a call from your room telephone!</p>
              </div>
            </div>
          </div>
        </section>

        <!-- More images with the interior of the website along with owner testimonials  -->
        <section id="pictures">
          
          <div class="picSection">

            <div class="spacer"></div>

            <img class="roomsPic1" src="images/window-g1865a5ca8_1920.jpg" alt="room3">

            <div class="row">
              <div class="col-lg-6">
                <img class="roomsPic2" src="images/thanos-pal-9OZfTe-y5T4-unsplash.jpg" alt="room4 pic">
              </div>
              <div class="col-lg-6">
                <img class="roomsPic2" src="images/eddi-aguirre-ZAVHbpOn4Jk-unsplash.jpg" alt="room5 pic">
              </div>
            </div>

            <!-- Testimonials from the owners of Hillside -->
            <div class="testimonials">
              <div id="testimonial-carousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="6000" data-bs-pause="hover">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <p class="quote">"There was always something new to do outside of Hillside Suites. I went hiking, skiing, kayaking, ate at local restaurants, and met amazing people. Best of all, the hotel was at an extremely accessible location, just two minutes off of the highway."</p>
                    <p class="person">Ryan Sun</p>
                  </div>
                  <div class="carousel-item">
                    <p class="quote">"My stay at Hillside Suites was like nothing I could have imagined. From the extremely restful nights, to the beautiful sunrises at my balcony window, and to the convenient attractions right around the corner, there’s no other place I would ever stay at."</p>
                    <p class="person">Havish Boda</p>
                  </div>
                  <div class="carousel-item">
                    <p class="quote">"The staff at Hillside Suites were extremely kind, patient, and helpful. They cleaned my room every afternoon and made it look as good as new, while respecting my privacy when needed as well."</p>
                    <p class="person">Aarav Mulinti</p>
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#testimonial-carousel" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#testimonial-carousel" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
            </div>

          </div>

        </section>

        <!-- Call to Action -->
        <section id="cta">
          <h1 class="startNow">Begin Your Journey Today.</h1>
          <a href="reserve" type="button" class="btn btn-outline-light btn-lg bookNow" data-toggle="modal" data-target="#exampleModalCenter">Book Now</a>

          <h2 class="mail">Join our Mailing List!</h2>
          <p>Subscribe to receive updates on the latest Hillside Suites news.</p>

          <form class="formSection needs-validation" action="/" method="post" novalidate>
            <input type="text" name="email" placeholder="email address" class="signUpEmail form-control" required>
            <button type="submit" class="btn btn-outline-light btn-lg">Sign Up</button>
          </form>

        </section>

        <!-- Social Media Icons -->
        <footer id="footer">
          
          <i class="footerIcon fa-brands fa-instagram"></i>
          <i class="footerIcon fa-brands fa-twitter"></i>
          <i class="footerIcon fa-brands fa-facebook-f"></i>
          <i class="footerIcon fa-solid fa-envelope"></i>
          <p class="footerText">Hillside Suites</p>

        </footer>
        
        <!-- JQuery Script -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
        <script>
          //Fetch all the forms to apply custom Bootstrap validation styles to
          const forms = document.querySelectorAll('.needs-validation')

          //Loop over them and prevent submission
          Array.from(forms).forEach(form => {
            form.addEventListener('submit', event => {
              if (!form.checkValidity()) {
                event.preventDefault()
                event.stopPropagation()
              }
              form.classList.add('was-validated')
            }, false)
          });
        </script>

    </body>
      
</html>
