/* CSS Animations */

.hidden {
    opacity: 0;
    transform: translateY(100%);
    transition: all 1s;
}

/* Removes animations according to user preferences */
@media(prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}

.show {
    opacity: 1;
    transform: translateY(0);
}

/* General styling */

body {
    background-color: #EDE6DB;
    font-family: 'Rasa', serif;
    font-weight: light;
}

.btn {
    font-family: 'Barlow', sans-serif;
    text-transform: uppercase;
}

h1 {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 3rem;
}

h2 {
    font-family: 'Barlow Condensed', sans-serif;
}

.spacer {
    padding: 3%;
}

.container-fluid {
    padding: 0;
}

.titleSection {
    padding: 2% 7%;
}

#titleMain {
    background-image: url(../images/awesomeHomePic.webp);
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    background-position: center center;
    height: auto;
    width: auto;
    padding-bottom: 10%;
    max-width: 100%;
    max-height: 1000px;
}

.titleIntro {
    margin-top: 15%;
}

.row {
    max-width: 100%;
}

/* Navbar */
.navbar {
    padding: 0.5% 6% 0 2%;
    margin: 0;
    background: rgba(0, 0, 0, 0.75);
}

#navbarAdmin .nav-item:nth-child(1) {
    width: 170px;
}

.navbar-brand {
    padding: 0;
}

.nav-item {
    font-size: 1.2rem;
    margin: 1% 2.6% 1% 0;
}

.navBtn {
    width: 110px;
    margin-bottom: 2%;
}

.amenitiesBtn {
    width: 130px;
}

.accommodationsBtn {
    width: 190px;
}

.btn-custom {
    background-color: #1D5C63;
}

.btn-custom:hover {
    background-color: #417D7A;
    border-color: #417D7A;
    color: white;
}

.nav-link {
    color: rgb(255, 255, 255);
}

.navbar-toggler-icon {
    /* Changes color of dropdown toggler icon to white */
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-toggler {
    border-color: white;
}

.dropdown-menu-dark {
    background-color: rgb(0, 0, 0, 0.75);
}

/* Footer */
#footer {
    text-align: center;
    margin-top: 3%;
}

.footerIcon {
    font-size: 1.3rem;
    padding: 1% 1% 1.4% 1%;
}

.footerText {
    color: grey;
    font-size: 1.2rem;
    margin-bottom: 60px;
}

/* Home Page */
#homeMain {
    background-image: url(../images/awesomeHomePic.webp);
    background-attachment: fixed;
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    background-position: center center;
    height: auto;
    width: auto;
    padding-bottom: 10%;
    max-width: 100%;
    max-height: 1000px;
}

@media (max-width: 1200px) {
    #titleMain {
        background-attachment: scroll;
    }
}

.homeIntro {
    margin-top: 12%; 
}

.titleName {
    padding-top: 30%;
    color: rgb(255, 255, 255);
    font-size: 4rem;
    padding-bottom: 2%;
}

.titleNameHome {
    padding-top: 30%;
    color: rgb(255, 255, 255);
    font-size: 4rem;
    padding-bottom: 2%;
    max-width: 1000px;
}

.subtitleName {
    color: white;
}

.title {
    color: black;
    text-align: center;
}

.titleBHome {
    color: black;
    text-align: center;
}

.picSection {
    text-align: center;
    position: relative;
}

.roomsPic1 {
    width: 95%;
    height: 650px;
    object-fit: cover;
}

.roomsPic2 {
    width: 90%;
    margin: 6% 0;
    height: 563.56px;
    object-fit: cover;
}

.roomsPic3 {
    width: 95%;
    height: 650px;
    object-fit: cover;
    margin: 0;
    padding: 0;
    position: relative;
}

.picDiv {
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 70%;
    height: 90vh;
    margin-bottom: 12%;
    margin-top: 6%;
}

.picContent {
    bottom: 9%;
    left: 0;
    margin: 0;
    position: relative;
    width: auto;
}

.picTitle {
    background-color: #EDE6DB;
    width: 550px;
    padding: 1% 1% 2% 20px;
    text-align: center;
}

.picText {
    font-size: 1.3rem;
    width: 55%;
    padding-left: 65px;
    text-align: left;
}

.picBtn {
    position: absolute;
    right: 0;
    bottom: 24%;
    margin-right: 2.6%;
    padding: 1% 4%;
}

@media (max-width: 1249px) {
    .picBtn {
        bottom: 40%;
    }
}

@media (max-width: 1164px) {
    .picDiv {
        position: static;
        height: auto;
    }

    .picContent {
        position: static;
    }

    .picTitle {
        width: auto;
        padding-top: 5%;
        text-align: left;
        padding-left: 4%;
    }

    .picText {
        width: auto;
        padding-left: 4%;
    }

    .picBtn {
        position: static;
        float: left;
        margin-left: 4%;
        margin-bottom: 50px;
    }
}

.galleryTitle {
    text-align: center;
    padding: 1% 4% 2% 4%;
}

.gallerySection {
    margin: 0rem;
    overflow: hidden;
    z-index: 5;
}

#imageTrack {
    display: flex;
    gap: 4vmin;
    position: relative;
    left: 50%;
    transform: translate(0%, 5%);
    user-select: none;
    width: 304vmin;
}

.galleryPic {
    width: 40vmin;
    height: 56vmin;
    object-fit: cover;
    object-position: 100% center;
    min-height: 300px;
}

.hiddenGalleryPic {
    opacity: 0;
    transform: translateX(100%);
    transition: all 1s;
}

.hiddenGalleryPic:nth-child(2) {
    transition-delay: 150ms;
}

.hiddenGalleryPic:nth-child(3) {
    transition-delay: 300ms;
}

.hiddenGalleryPic:nth-child(4) {
    transition-delay: 450ms;
}

.hiddenGalleryPic:nth-child(5) {
    transition-delay: 600ms;
}

.testimonials {
    background-color: #1D5C63;
    width: 75%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: .95;
}

.quote {
    font-size: 2rem;
    color: white;
    padding: 5% 14% 1% 14%;
}

.person {
    font-size: 2rem;
    color: white;
}

#info .container-fluid {
    padding: 7%;
    background-color: #417D7A;
    text-align: center;
    color: white;
}

.features {
    padding: 3%;
}

.features:nth-child(2) {
    transition-delay: 200ms;
}

.features:nth-child(3) {
    transition-delay: 400ms;
}

.profile:nth-child(2){
    transition-delay: 150ms;
}

.profile:nth-child(3){
    transition-delay: 300ms;
}

@media(max-width: 768px) {

    .profile:nth-child(2){
        transition-delay: 0ms;
    }
    
    .profile:nth-child(3){
        transition-delay: 0ms;
    }

}

.icon {
    font-size: 4rem;
    margin-bottom: 1rem;
}

.featuresTitle {
    font-family: 'Barlow Condensed', sans-serif;
    padding: 1%;
}

#cta {
    background-color: #417D7A;
    color: white;
    text-align: center;
    padding: 8% 7%;
}

.startNow {
    font-size: 3.5rem;
    padding-bottom: 3%;
}

.bookNow {
    padding: 1.2% 2.6%;
    font-size: 1.3rem;
}

.mail {
    padding: 6% 0 2% 0;
    font-size: 2.5rem;
}

.signUpEmail {
    padding: 8px;
    width: 30%;
    min-width: 300px;
    margin: 0 auto;
    margin-bottom: 20px;
}

/* Accommodations Page */
#accommodationMain {
    background-image: url(../images/maybeAccommodations.png);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: auto;
    width: auto;
    max-width: 100%;
    max-height: 870px;
    padding-bottom: 11%;
}

@media (max-width: 1200px) {
    #accommodationMain {
        background-attachment: scroll;
    }
}

#accommodationDescriptions h2 {
    font-weight: bold;
}

.accommodationsName {
    color: rgb(255, 255, 255);
}

.accommodations-title {
    padding: 4% 4% 4% 4%;
    margin-top: 14%; 
    text-align: center;
    max-width: 800px;
    color: rgb(255, 255, 255);
    background-color: rgba(29, 92, 99, .7);
    backdrop-filter: blur(10px);
}

.generalDescription {
    text-align: center;
    padding: 6% 15%;
    margin-top: 3%;
}

.description {
    font-size: 1.5rem;
    padding-bottom: 10px;
}

.beds {
    color: grey;
    font-size: 1.5rem;
    padding-top: 2%;
}

.darkBeds {
    font-size: 1.5rem;
    padding-top: 2%;
}

.descriptionPic {
    padding: 6%;
    width: 100%;
}

.singleRoom {
    padding: 6%;
    width: 100%;
    object-fit: cover;
    max-height: 650px;
}

.sideDescription {
    padding: 6% 5%;
}

@media (max-width: 991px) {
    .sideDescription {
        padding: 6% 10%;
    }
}

.doubleRoom {
    background-color: #1D5C63;
    color: white;
    max-height: 700px;
    object-fit: cover;
}

.masterSuite {
    background-color: #1D5C63;
    color: white;
}

/* About Page */
#titleAbout {
    background-image: url(../images/ODADA-Hotel_Paradox-0590.webp);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: auto;
    width: auto;
    max-width: 100%;
    max-height: 870px;
    padding-bottom: 11%;
}

@media (max-width: 1200px) {
    #titleAbout {
        background-attachment: scroll;
    }
}

.aboutPic {
    height: 400px;
    object-fit: cover;
}

.about-title {
    padding: 4% 4% 4% 4%;
    margin-top: 14%; 
    text-align: center;
    max-width: 800px;
    color: rgb(255, 255, 255);
    background-color: rgba(29, 92, 99, .7);
    backdrop-filter: blur(10px);
}

.aboutHeader {
    text-align: center;
    padding: 3%;
}

.aboutCards {
    margin: 5%;
    text-align: center;
}

.mission {
    background-color: #417D7A;
    color: white;
}

.missionTitle {
    text-align: center;
    padding-top: 5%;
}

.missionText {
    text-align: center;
    padding: 1% 10% 5% 10%;
    font-size: 1.5rem;
}

.contactTitle {
    text-align: center;
    padding-bottom: 3%;
}

.contactDiv {
    white-space: nowrap;
    text-align: center;
}

.contactOptions {
    display: inline-block;
}

.documentation {
    padding-top: 1%;
    padding-bottom: 2%;
}

.docBtn {
    width: 200px;
    margin: 2%;
}

/* Amenities Page */
#titleAmenities {
    background-image: url(../images/amenities1.jpg);
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
    max-width: 100%;
    width: auto;
    max-height: 870px;
    padding-bottom: 11%;
}

@media (max-width: 1200px) {
    #titleAmenities {
        background-attachment: scroll;
    }
}

.titling-body {
    margin-top: 21%;
}

.first-amenity {
    margin-bottom: -20%;
}

.second-amenity {
    margin-top: 10%;
    margin-bottom: -25%;
}

.first-amenity-pic {
    margin-bottom: -30%;
}

.text-big {
    background-color: #1D5C63;
    opacity: .5;
    transform: translate(150%, -220%);
    width: 35%;
    height: 30%;
    padding: 5%;
    opacity: .95;
    position: sticky;
}

.text-big2 {
    background-color: #1D5C63;
    opacity: .5;
    transform: translate(30%, -110%);
    width: 35%;
    height: 30%;
    padding: 5%;
    opacity: .95;
}

.in-blue {
    color: white;
}

.big-pic {
    width: 100%;
    object-fit: cover;
    max-height: 800px;
}

.big-amenity {
    margin-bottom: 5%;
}

.big-amenity2 {
    margin-top: 5%; 
    margin-bottom: -15%;
}

.amenities-pic {
    background-color: #EDE6DB;
}

.amenities1 {
    width: 50%;
    height: 50%;
    margin-left: 30%;
    margin-top: 10%;
    margin-bottom: 10%;
}

.amenity-desc {
    background-color: #1D5C63;
    transform: translate(50%, -260%);
    width: 30%;
    height: 30%;
    padding: 5%;
    opacity: .95;
}

.amenities2 {
    width: 50%;
    height: 50%;
    margin-left: 15%;
    margin-top: 10%;
    margin-bottom: 10%;
}

.amenity-desc2 {
    background-color: #1D5C63;
    transform: translate(170%, -240%);
    width: 30%;
    height: 30%;
    padding: 5%;
    opacity: .95;
}

.amenities-body {
    padding-top: 5%;
    padding-bottom: 5%;
}

.container {
    margin-top: -5%;
    width: 100%;
    height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.map-back {
    background-color: #417D7A;
}

.mapText {
    text-align: center;
    color: white;
    padding-bottom: 2%;
    font-size: 2.5rem;
}

.amenitiesText {
    text-align: center;
    padding-top: 10%;
}

#map {
    width: 100%;
    height: 70%;
}

.map {
    clear: none;
    text-align: center;
}

.mapText {
    text-align: center;
    padding-top: 5%;
}

.amenitiesText {
    text-align: center;
    padding-top: 10%;
    ;
}

.titleAmenities {
    padding: 4% 4% 4% 4%;
    margin-top: 14%; 
    text-align: center;
    max-width: 800px;
    color: rgb(255, 255, 255);
    background-color: rgba(29, 92, 99, .7);
    backdrop-filter: blur(10px);
}

.colored {
    padding-top: 3%;
    background-color: #1D5C63;
    padding-bottom: 3%;
    border: 2px black solid;
}

.not-colored {
    padding-top: 3%;
    padding-bottom: 3%;
    border: 2px black solid;
}

.amenitiesFooter {
    text-align: center;
    margin-top: -2%;
}



/* Reserve Page */
#titleReserve {
    background-image: url(../images/reservePicMaybeFinal.png);
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
    max-width: 100%;
    width: auto;
    max-height: 870px;
    padding-bottom: 11%;
}

@media (max-width: 1200px) {
    #titleReserve {
        background-attachment: scroll;
    }
}

.title-reserve {
    padding: 4% 4% 4% 4%;
    margin-top: 14%; 
    text-align: center;
    max-width: 800px;
    color: rgb(255, 255, 255);
    background-color: rgba(29, 92, 99, .7);
    backdrop-filter: blur(10px);
}

#reserveForm {
    padding: 7% 10%;
}

.formCount {
    padding: 2% 1%;
}

.viewRates {
    width: 160px;
    margin-top: 2%;
    margin-bottom: 5%;
}

.reserveCard {
    margin: 4% 0;
}

.cardPic {
    height: 422.52px;
    width: 777.22px;
    object-fit: cover;
}

#reserveForm h2 {
    font-weight: bold;
    padding-bottom: 1%;
}

.roomCard {
    padding: 3% 5%;
}

small {
    font-size: 1rem;
    font-weight: normal;
}

#reserveForm h3 {
    font-weight: bold;
    padding-bottom: 2%;
}

.reserveErrorHeader {
    font-size: 2.5rem;
}

.reserveErrorText {
    padding-top: 15px;
}

.reserveErrorJumbo {
    text-align: center;
    margin: 5% 8% 0 8%;
}

/* Success Page */
.successJumbo {
    text-align: center;
    margin: 7% 8%;
    padding: 2% 0;
}

/* Register Page */
.accountCard {
    padding: 3%;
    text-align: center;
}

.accountContent {
    text-align: center;
}

.accountLabel {
    margin: 10px;
}

.accountTitle {
    margin-bottom: 30px;
}

.joinBtn {
    margin-top: 30px;
    width: 130px;
}

.or-container {
    align-items: center;
    color: #ccc;
    display: flex;
    margin: 25px 0;
}

.line-separator {
    background-color: #ccc;
    flex-grow: 5;
    height: 1px;
}

.or-label {
    flex-grow: 1;
    margin: 0 15px;
    text-align: center;
}

.fa-google {
    margin-right: 5px;
}

.registerFailedAttemptLine {
    margin-top: 2%;
    margin-bottom: 2%;
}

.btn-google {
    margin-bottom: 20px;
}

.adminBtn {
    color: black;
    text-decoration: none;
}

.signin-footer {
    text-align: center;
}

.signin-box {
    margin-left: 1%;
}

.register-box {
    margin-left: 1%;
}

/* My Bookings Page */
.bookingsSection {
    padding: 1% 10%;
}

.bookingTitle {
    font-weight: bold;
    padding-bottom: 1.5%;
}

.bookingSmallTitle {
    font-weight: bold;
    padding-bottom: 2.5%;
}

.cancelBtn {
    margin-top: 15px;
}

.ordersCard {
    margin-bottom: 4%;
}

/* Admin Page */
.adminSection {
    padding: 3% 8%;
}

.adminTitle {
    text-align: center;
    margin-bottom: 3%;
}

.adminCard {
    margin: 7px;
}

.adminUserSection {
    padding: 3% 15%;
}

.descriptionText {
    margin-bottom: 30px;
}